# Server
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database & Redis
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/event_seat_booking?schema=public
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=supersecretdevkey1234567890_min32chars

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
